<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listen2pdf</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Listen2pdf</h1>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <p>&copy; 2024 Listen2pdf</p>
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
