<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listen2pdf</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Listen2pdf</h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; 2024 Listen2pdf. All rights reserved.</p>
      <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('index') }}">About</a>
        <a href="{{ url_for('index') }}">Products</a>
        <a href="{{ url_for('index') }}">Pricing</a>
        <a href="{{ url_for('index') }}">Terms of Service</a>
        <a href="{{ url_for('index') }}">Privacy Policy</a>
        <a href="{{ url_for('index') }}">Contact</a>
      </nav>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
