<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listen2pdf</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Listen2pdf</h1>
    </header>
    <main>
      <form
        id="upload-form"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" accept=".pdf" />
        <button type="submit">Convert to Audio</button>
      </form>
      <div id="progress">
        <div id="progress-bar"></div>
      </div>
    </main>
    <footer>
      <p>&copy; 2024 Listen2pdf</p>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
